In [50]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [51]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], 1)
application_df.head()

C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [52]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df.APPLICATION_TYPE.value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [53]:
# Determine which values to replace if counts are less than ...?
# chaning this to be less than 750
app_type_counts = application_df.APPLICATION_TYPE.value_counts()
replace_application = list(app_type_counts[app_type_counts < 750].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [54]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [55]:
# Determine which values to replace if counts are less than ..?
# changing this to be less than 2000
classification_counts = application_df.CLASSIFICATION.value_counts()
replace_class = list(classification_counts[classification_counts < 2000].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [56]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [57]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [58]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index = True, right_index = True).drop(application_cat,1)
application_df.head()

C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [59]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=22)

C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [60]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [61]:
# Create a DataFrame with the scaled X train data
transformed_scaled_data = pd.DataFrame(X_train_scaled, columns=application_df.drop('IS_SUCCESSFUL',axis=1).columns)
transformed_scaled_data.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.012471,-0.030594,-0.262053,-0.176365,0.514551,-0.217408,-0.187872,-0.192372,-0.919926,-0.039955,...,-0.145877,-0.127108,-0.333808,-0.084879,-0.166513,-0.350469,-0.063095,-0.070993,0.026462,-0.026462
1,0.012471,-0.030594,-0.262053,-0.176365,0.514551,-0.217408,-0.187872,-0.192372,-0.919926,-0.039955,...,-0.145877,-0.127108,-0.333808,-0.084879,-0.166513,-0.350469,-0.063095,-0.070993,0.026462,-0.026462
2,0.012471,-0.030594,-0.262053,-0.176365,0.514551,-0.217408,-0.187872,-0.192372,1.087044,-0.039955,...,-0.145877,-0.127108,-0.333808,-0.084879,-0.166513,-0.350469,-0.063095,-0.070993,0.026462,-0.026462
3,0.012471,-0.028400,-0.262053,-0.176365,0.514551,-0.217408,-0.187872,-0.192372,-0.919926,-0.039955,...,-0.145877,-0.127108,-0.333808,-0.084879,-0.166513,2.853320,-0.063095,-0.070993,0.026462,-0.026462
4,0.012471,-0.013990,-0.262053,-0.176365,0.514551,-0.217408,-0.187872,-0.192372,-0.919926,-0.039955,...,-0.145877,-0.127108,-0.333808,-0.084879,6.005521,-0.350469,-0.063095,-0.070993,0.026462,-0.026462

In [73]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
# increasing the neurons in the second hidden layer
hidden_nodes_layer2 = 6
# adding a third hidden layer
hidden_nodes_layer3 = 2

nn = tf.keras.models.Sequential()

# First hidden layer
# changing the activation function
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 8)                 312

 dense_15 (Dense)            (None, 6)                 54

 dense_16 (Dense)            (None, 2)                 14

 dense_17 (Dense)            (None, 1)                 3

=================================================================
Total params: 383
Trainable params: 383
Non-trainable params: 0
_________________________________________________________________

In [74]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [75]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [78]:
# Create a callback that saves the model's weights every 5 epochs.
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq="epoch",
    period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [79]:
# Train the model
# reducing the number of epochs to prevent overfitting
fit_model = nn.fit(X_train_scaled,y_train,epochs=50,callbacks=[cp_callback])

Epoch 1/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5731 - accuracy: 0.7292
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5718 - accuracy: 0.7288
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5717 - accuracy: 0.7292
Epoch 4/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5713 - accuracy: 0.7292
Epoch 5/50
796/804 [============================>.] - ETA: 0s - loss: 0.5707 - accuracy: 0.7301
Epoch 00005: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 4s 4ms/step - loss: 0.5710 - accuracy: 0.7298
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5707 - accuracy: 0.7299
Epoch 7/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5703 - accuracy: 0.7308
Epoch 8/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5701 - accuracy: 0.7304
Epoch 9/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5700 - accuracy: 0.7312
Epoch 10/50
799/804 [============================>.] - ETA: 0s - loss: 0.5698 - accuracy: 0.7305
Epoch 00010: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.5698 - accuracy: 0.7305
Epoch 11/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5696 - accuracy: 0.7310
Epoch 12/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5694 - accuracy: 0.7320
Epoch 13/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5697 - accuracy: 0.7315: 0s - loss: 0.569
Epoch 14/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5693 - accuracy: 0.7318
Epoch 15/50
798/804 [============================>.] - ETA: 0s - loss: 0.5690 - accuracy: 0.7318 ETA: 0s - loss: 0.5690 - accuracy
Epoch 00015: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 4s 6ms/step - loss: 0.5692 - accuracy: 0.7318
Epoch 16/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5689 - accuracy: 0.7323: 1s - loss: 0
Epoch 17/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5689 - accuracy: 0.7322
Epoch 18/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5687 - accuracy: 0.7320: 0s - loss: 0.5687 - accuracy: 0.73
Epoch 19/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5687 - accuracy: 0.7320
Epoch 20/50
803/804 [============================>.] - ETA: 0s - loss: 0.5685 - accuracy: 0.7323
Epoch 00020: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.5684 - accuracy: 0.7323
Epoch 21/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5684 - accuracy: 0.7322
Epoch 22/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5683 - accuracy: 0.7324: 3s - los - ETA: 1s - loss: 0.5688 - accuracy:  - ETA: 1s - ETA: 0s -
Epoch 23/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5685 - accuracy: 0.7333
Epoch 24/50
804/804 [==============================] - 4s 6ms/step - loss: 0.5681 - accuracy: 0.7322
Epoch 25/50
801/804 [============================>.] - ETA: 0s - loss: 0.5682 - accuracy: 0.7326
Epoch 00025: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 5s 6ms/step - loss: 0.5681 - accuracy: 0.7326
Epoch 26/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5678 - accuracy: 0.7331: 0s - loss: 0.5683 - accuracy: 0.
Epoch 27/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5677 - accuracy: 0.7325
Epoch 28/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5680 - accuracy: 0.7327: 1s - -
Epoch 29/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5673 - accuracy: 0.7332
Epoch 30/50
804/804 [==============================] - ETA: 0s - loss: 0.5671 - accuracy: 0.7325
Epoch 00030: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.5671 - accuracy: 0.7325
Epoch 31/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5668 - accuracy: 0.7329
Epoch 32/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5669 - accuracy: 0.7332: 0s - loss: 0.5676 - ac
Epoch 33/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5663 - accuracy: 0.7329
Epoch 34/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5662 - accuracy: 0.7329
Epoch 35/50
799/804 [============================>.] - ETA: 0s - loss: 0.5658 - accuracy: 0.7333 ETA: 0s - loss: 0.5671
Epoch 00035: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 5s 7ms/step - loss: 0.5660 - accuracy: 0.7332
Epoch 36/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5661 - accuracy: 0.7340: 1s - loss: 0.5655 - accuracy - ETA: 0s
Epoch 37/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5659 - accuracy: 0.7334
Epoch 38/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5660 - accuracy: 0.7338: 0s - loss:
Epoch 39/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5659 - accuracy: 0.7338 ETA: 0s - los
Epoch 40/50
799/804 [============================>.] - ETA: 0s - loss: 0.5659 - accuracy: 0.7337 ETA: 0s - loss: 0.5656 - accuracy
Epoch 00040: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 6s 7ms/step - loss: 0.5657 - accuracy: 0.7340
Epoch 41/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5657 - accuracy: 0.7339
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5657 - accuracy: 0.7338
Epoch 43/50
804/804 [==============================] - 7s 9ms/step - loss: 0.5655 - accuracy: 0.7341: 0s - loss: 0.5655 - accuracy: 0.73
Epoch 44/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5655 - accuracy: 0.7339
Epoch 45/50
799/804 [============================>.] - ETA: 0s - loss: 0.5657 - accuracy: 0.7338
Epoch 00045: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 6s 7ms/step - loss: 0.5656 - accuracy: 0.7339
Epoch 46/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5655 - accuracy: 0.7334: 0s - loss: 0.5652 - accura
Epoch 47/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5656 - accuracy: 0.7342
Epoch 48/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5654 - accuracy: 0.7340: 0s - loss: 0.564
Epoch 49/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5653 - accuracy: 0.7344
Epoch 50/50
801/804 [============================>.] - ETA: 0s - loss: 0.5654 - accuracy: 0.7340
Epoch 00050: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.5655 - accuracy: 0.7341

In [80]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5764 - accuracy: 0.7230 - 1s/epoch - 6ms/step
Loss: 0.5764354467391968, Accuracy: 0.7230320572853088

In [81]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")